{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Enter data{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    {{ form.hidden_tag() }}
    <!-- Common data -->
        <!-- birth_year -->
        {{ form.birth_year.label }}<br>
        {{ form.birth_year }}
        {% if form.errors.birth_year %}
            {% for error in form.errors.birth_year %}
                 <br class=error><strong>Error:</strong> {{ error }}
            {% endfor %}
        {% endif %}

        <!-- Illness forms -->
        {% for illness in illnesses %}
            {% set illness_template = 'immunity_app/'
                                     + illness + '/'
                                     + illness + '_data_entry.html' %}
            {% include illness_template ignore missing%}
        {% endfor %}
        <br>{{ form.submit }}
  </form>

{% endblock %}
