<p><b>Measles</b></p>
{{ form.measles.hidden_tag() }}
<!–– on_time_measles_vaccinations ––>
{{ form.measles.on_time_measles_vaccinations.label }}
{{ form.measles.on_time_measles_vaccinations }}
{% if form.errors.measles %}
    {% if form.errors.measles.on_time_measles_vaccinations %}
        {% for error in form.errors.measles.on_time_measles_vaccinations %}
            <br class=error><strong>Error:</strong> {{ error }}
        {% endfor %}
    {% endif %}
{% endif %}
<!–– measles_illness ––>
{{ form.measles.measles_illness.label }}
{{ form.measles.measles_illness }}
{% if form.errors.measles %}
    {% if form.errors.measles.measles_illness %}
        {% for error in form.errors.measles.measles_illness %}
            <br class=error><strong>Error:</strong> {{ error }}
        {% endfor %}
    {% endif %}
{% endif %}